$red: red
$orange: orange
// $green: rgb(57, 232, 15)
$green: limegreen
$blue: blue
$magenta: magenta

.color-red
    color: $red
.color-orange
    color: $orange
.color-green
    color: $green
.color-blue
    color: $blue
.color-magenta
    color: $magenta

.background-red
    background-color: $red
.background-orange
    background-color: $orange
.background-green
    background-color: $green
.background-blue
    background-color: $blue
.background-magenta
    background-color: $magenta
