html
    font-family: serif

html, body
    margin: 0
    padding: 0
h2
    font-weight: bold
    margin-top: 0
    margin-bottom: 0.8rem
@media (min-width: 950px)
    h2
        font-size: 2.4rem
@media (max-width: 950px) and (min-width: 700px)
    h2
        font-size: 2.2rem
@media (max-width: 700px)
    h2
        font-size: 1.8rem

p
    margin-top: 0

.footer a
    margin-right: 1rem
    line-height: 2

.nav
    @extend .content-margins
    margin-top: 2rem
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: baseline
    background-color: white
    padding-top: 5px
    padding-bottom: 5px
    a
        margin-right: 1rem

h2.pribehy
    text-align: center
    margin-top: 12rem

.hyphenate
    hyphens: auto

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css)
.fa-external-link
    transform: translate(5px, 2.5px) scale(70%)
