@import ./_home

// .crossroads
//     height: 100vh
//     width: 100vw
//     padding-top: 2rem
//     box-sizing: border-box
//     display: flex
//     flex-direction: column
//     .nav
//         margin-top: 0
//     .crossroads__content
//         display: grid
//         grid-template-columns: 1fr 1fr
//         align-items: center
//         height: 100%
//         div
//             display: grid
//             align-items: center
//             justify-content: center
//             a
//                 font-size: 3rem
//                 color: white
//                 text-decoration: none
//                 border-radius: 10rem
//                 padding: 5px 1.5rem

.app-view
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: stretch
    height: 100vh
    width: 100vw
    .app-view__top
        flex-grow: 0
        flex-shrink: 0
    .app-view__content
        flex-grow: 1
        &.crossroads
            display: grid
            .crossroads__option
                display: grid
                place-items: center
                color: white
                font-size: 3rem
    .app-view__bottom
        flex-grow: 0
        flex-shrink: 0

@media (min-width: 950px)
    .app-view .app-view__content.crossroads
        grid-template-columns: 1fr 1fr
@media (max-width: 950px)
    .app-view .app-view__content.crossroads
        grid-template-rows: 1fr 1fr
