.content-margins
    max-width: 1400px
    margin-left: auto
    margin-right: auto
.content
    @extend .content-margins
    margin-bottom: 8rem
    font-size: 1.2rem
.content--top
    margin-top: 4rem

@media (min-width: 1200px)
    .content-margins
        width: 80%
@media (max-width: 1200px)
    .content-margins
        width: 90%

.two-thirds-split
    display: grid
    grid-template-columns: 2fr 1fr
    column-gap: 6rem
    row-gap: 0
    h2
        grid-column-start: 1
        grid-column-end: 3
    .two-thirds-split__links
        font-size: 1.4rem
        line-height: 1.05
        a
            display: block
            margin-bottom: 1rem

.grid
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    gap: 1.5rem
    .grid__cell
        aspect-ratio: 1 / 1
        .full-img
            width: 100%
            height: 100%
            object-fit: contain

@media (max-width: 950px)
    .two-thirds-split
        grid-template-columns: 1fr
        row-gap: 2rem
        h2
            grid-column-start: initial
            grid-column-end: initial
        .two-thirds-split__links
            text-align: right
            margin-top: 2rem
