.form
    max-width: 600px
    margin-left: auto
    margin-right: auto
    .form__header
        margin-bottom: 2rem
        p
            font-size: 1.2rem
    form
        font-size: 1rem
        margin: 0
        padding: 0
        width: 100%
        max-width: 100%
        .form__input
            margin-bottom: 1rem
            input:not([type=radio], [type=checkbox], [type=submit]), textarea
                width: 100%
                max-width: 100%
                border: solid 1px black
                font-size: 1rem
                padding: 5px
                box-sizing: border-box
            textarea
                min-width: 100%
            input:not([type=radio], [type=checkbox], [type=submit]), textarea
                display: block
            label.standalone
                display: block
                margin-bottom: 5px
            .checkbox
                display: inline-block
                border: solid 1px black
                margin-right: 0.5rem
                margin-bottom: 5px
                padding-left: 5px
                label
                    display: inline-block
                    padding: 5px 10px 5px 5px
            input[type=submit]
                display: block
                font-size: 1.2rem
                margin: 4rem auto

@media (min-width: 500px)
    .form
        width: 90%
@media (max-width: 500px)
    .form
        width: 95%
