.banner
    width: 100%
    .banner__item
        width: 100%
        flex-direction: row
        justify-content: center
        margin-bottom: 6rem
        .banner__item__left
            padding-top: 5px
            padding-bottom: 5px
        .banner__item__left, .banner__item__right
            box-sizing: border-box
            a
                color: white
                text-decoration: none
                border-radius: 10rem
                padding: 5px 1.5rem

@media (min-width: 1200px)
    .banner
        margin-top: 12rem
        margin-bottom: 16rem
        .banner__item
            display: flex
            .banner__item__left
                text-align: right
                padding-right: 1rem
            .banner__item__right
                text-align: left
                padding-left: 1rem
            .banner__item__left, .banner__item__right
                width: 50%
@media (max-width: 1200px)
    .banner
        .banner__item
            flex-direction: column
            align-items: center
            a
                margin-left: auto
                margin-right: auto
                margin-bottom: 1rem
                width: fit-content
        .banner__item__left, .banner__item__right
            width: 100%
            text-align: center
            padding: 0
            margin-bottom: 1rem

@media (min-width: 700px) and (max-width: 1200px)
    .banner
        margin-top: 8rem
        margin-bottom: 10rem
@media (min-width: 700px)
    .banner
        font-size: 3rem
        .banner__item a
            margin-right: 1.25rem
            display: inline-block
@media (max-width: 700px)
    .banner
        font-size: 2.5rem
        margin-top: 4rem
        margin-bottom: 4rem
        .banner__item a
            display: block

.title-gif::after
    animation-name: title-gif
    animation-duration: 4s
    animation-iteration-count: infinite

@keyframes title-gif
    0%
        content: "Srdcem"
    24%
        content: "Srdcem"
    25%
        content: "Tělem"
    49%
        content: "Tělem"
    50%
        content: "Duší"
    74%
        content: "Duší"
    75%
        content: "Myslí"
    99%
        content: "Myslí"
    100%
        content: "Srdcem"
