.media-tile
    display: flex
    flex-direction: column
    aspect-ratio: 1 / 1
    .media-tile__image
        flex-grow: 1
        flex-shrink: 1
        img
            height: 100%
            width: 100%
            object-fit: cover
            aspect-raio: inherit
    .media-tile__description
        flex-grow: 0
        flex-shrink: 0
        padding: 2px
        text-align: center
