.story
    .story__header
        h2, span
            display: inline-block
        span
            padding: 2px 10px
            margin-left: 2rem
            color: white
            border-radius: 100px
            position: relative
            top: -6px
    .story__img-container
        display: flex
        flex-direction: column
        img
            max-width: 100%

.stories-header
    margin-top: 4rem
    line-height: 2
    a
        white-space: nowrap
        padding: 2px 10px
        margin-right: 2rem
        color: white
        border-radius: 100px

@media (min-width: 950px)
    .story .story__header
        grid-column-start: 1
        grid-column-end: 3
@media (max-width: 950px)
    .story .story__header
        grid-column-start: initial
        grid-column-end: initial
