.header
    margin-top: 2rem
    width: 100%
    display: flex
    flex-direction: row
    justify-content: center
    align-item: center

.title
    text-decoration: none
    flex-grow: 1
    display: flex
    flex-direction: row
    justify-content: center

.title--mid-split
    .title__static, .title__animated
        width: 50%

.title--center
    .title__static, .title__animated
        width: auto

.title__static
    color: black

.title__animated
    overflow: hidden

.title__static, .title__animated
    height: 40px
    font-size: 1.5rem
    line-height: 40px

.title__static p, .title__animated__content p
    margin: 0

.title__animated__content p
    text-align: right

.title__animated__content
    position: relative
    animation-name: title
    animation-duration: 10s
    animation-iteration-count: infinite

@keyframes title
    0%
        bottom: 0
    5%
        bottom: 0
    20%
        bottom: 40px
    30%
        bottom: 40px
    45%
        bottom: 80px
    55%
        bottom: 80px
    70%
        bottom: 120px
    80%
        bottom: 120px
    95%
        bottom: 160px

.title-gif::after
    animation-name: title-gif
    animation-duration: 10s
    animation-iteration-count: infinite

@keyframes title-gif
    0%
        content: "Srdcem"
    5%
        content: "Srdcem"
    20%
        content: "Tělem"
    30%
        content: "Tělem"
    45%
        content: "Duší"
    55%
        content: "Duší"
    70%
        content: "Myslí"
    80%
        content: "Myslí"
    95%
        content: "Srdcem"
