@charset "UTF-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
html {
  font-family: serif;
}

html, body {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

@media (min-width: 950px) {
  h2 {
    font-size: 2.4rem;
  }
}
@media (max-width: 950px) and (min-width: 700px) {
  h2 {
    font-size: 2.2rem;
  }
}
@media (max-width: 700px) {
  h2 {
    font-size: 1.8rem;
  }
}
p {
  margin-top: 0;
}

.footer a {
  margin-right: 1rem;
  line-height: 2;
}

.nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav a {
  margin-right: 1rem;
}

h2.pribehy {
  text-align: center;
  margin-top: 12rem;
}

.hyphenate {
  -webkit-hyphens: auto;
          hyphens: auto;
}

.fa-external-link {
  transform: translate(5px, 2.5px) scale(70%);
}

.color-red {
  color: red;
}

.color-orange {
  color: orange;
}

.color-green {
  color: limegreen;
}

.color-blue {
  color: blue;
}

.color-magenta {
  color: magenta;
}

.background-red {
  background-color: red;
}

.background-orange {
  background-color: orange;
}

.background-green {
  background-color: limegreen;
}

.background-blue {
  background-color: blue;
}

.background-magenta {
  background-color: magenta;
}

.content-margins, .content, .nav {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.content {
  margin-bottom: 8rem;
  font-size: 1.2rem;
}

.content--top {
  margin-top: 4rem;
}

@media (min-width: 1200px) {
  .content-margins, .nav, .content {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .content-margins, .nav, .content {
    width: 90%;
  }
}
.two-thirds-split {
  display: grid;
  grid-template-columns: 2fr 1fr;
  -moz-column-gap: 6rem;
       column-gap: 6rem;
  row-gap: 0;
}
.two-thirds-split h2 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.two-thirds-split .two-thirds-split__links {
  font-size: 1.4rem;
  line-height: 1.05;
}
.two-thirds-split .two-thirds-split__links a {
  display: block;
  margin-bottom: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}
.grid .grid__cell {
  aspect-ratio: 1/1;
}
.grid .grid__cell .full-img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 950px) {
  .two-thirds-split {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .two-thirds-split h2 {
    grid-column-start: initial;
    grid-column-end: initial;
  }
  .two-thirds-split .two-thirds-split__links {
    text-align: right;
    margin-top: 2rem;
  }
}
.header {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-item: center;
}

.title {
  text-decoration: none;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title--mid-split .title__static, .title--mid-split .title__animated {
  width: 50%;
}

.title--center .title__static, .title--center .title__animated {
  width: auto;
}

.title__static {
  color: black;
}

.title__animated {
  overflow: hidden;
}

.title__static, .title__animated {
  height: 40px;
  font-size: 1.5rem;
  line-height: 40px;
}

.title__static p, .title__animated__content p {
  margin: 0;
}

.title__animated__content p {
  text-align: right;
}

.title__animated__content {
  position: relative;
  animation-name: title;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes title {
  0% {
    bottom: 0;
  }
  5% {
    bottom: 0;
  }
  20% {
    bottom: 40px;
  }
  30% {
    bottom: 40px;
  }
  45% {
    bottom: 80px;
  }
  55% {
    bottom: 80px;
  }
  70% {
    bottom: 120px;
  }
  80% {
    bottom: 120px;
  }
  95% {
    bottom: 160px;
  }
}
.title-gif::after {
  animation-name: title-gif;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes title-gif {
  0% {
    content: "Srdcem";
  }
  5% {
    content: "Srdcem";
  }
  20% {
    content: "Tělem";
  }
  30% {
    content: "Tělem";
  }
  45% {
    content: "Duší";
  }
  55% {
    content: "Duší";
  }
  70% {
    content: "Myslí";
  }
  80% {
    content: "Myslí";
  }
  95% {
    content: "Srdcem";
  }
}
.banner {
  width: 100%;
}
.banner .banner__item {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 6rem;
}
.banner .banner__item .banner__item__left {
  padding-top: 5px;
  padding-bottom: 5px;
}
.banner .banner__item .banner__item__left, .banner .banner__item .banner__item__right {
  box-sizing: border-box;
}
.banner .banner__item .banner__item__left a, .banner .banner__item .banner__item__right a {
  color: white;
  text-decoration: none;
  border-radius: 10rem;
  padding: 5px 1.5rem;
}

@media (min-width: 1200px) {
  .banner {
    margin-top: 12rem;
    margin-bottom: 16rem;
  }
  .banner .banner__item {
    display: flex;
  }
  .banner .banner__item .banner__item__left {
    text-align: right;
    padding-right: 1rem;
  }
  .banner .banner__item .banner__item__right {
    text-align: left;
    padding-left: 1rem;
  }
  .banner .banner__item .banner__item__left, .banner .banner__item .banner__item__right {
    width: 50%;
  }
}
@media (max-width: 1200px) {
  .banner .banner__item {
    flex-direction: column;
    align-items: center;
  }
  .banner .banner__item a {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: -moz-fit-content;
    width: fit-content;
  }
  .banner .banner__item__left, .banner .banner__item__right {
    width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 1rem;
  }
}
@media (min-width: 700px) and (max-width: 1200px) {
  .banner {
    margin-top: 8rem;
    margin-bottom: 10rem;
  }
}
@media (min-width: 700px) {
  .banner {
    font-size: 3rem;
  }
  .banner .banner__item a {
    margin-right: 1.25rem;
    display: inline-block;
  }
}
@media (max-width: 700px) {
  .banner {
    font-size: 2.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .banner .banner__item a {
    display: block;
  }
}
.title-gif::after {
  animation-name: title-gif;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes title-gif {
  0% {
    content: "Srdcem";
  }
  24% {
    content: "Srdcem";
  }
  25% {
    content: "Tělem";
  }
  49% {
    content: "Tělem";
  }
  50% {
    content: "Duší";
  }
  74% {
    content: "Duší";
  }
  75% {
    content: "Myslí";
  }
  99% {
    content: "Myslí";
  }
  100% {
    content: "Srdcem";
  }
}
.media-tile {
  display: flex;
  flex-direction: column;
  aspect-ratio: 1/1;
}
.media-tile .media-tile__image {
  flex-grow: 1;
  flex-shrink: 1;
}
.media-tile .media-tile__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-raio: inherit;
}
.media-tile .media-tile__description {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 2px;
  text-align: center;
}

.banner {
  width: 100%;
}
.banner .banner__item {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 6rem;
}
.banner .banner__item .banner__item__left {
  padding-top: 5px;
  padding-bottom: 5px;
}
.banner .banner__item .banner__item__left, .banner .banner__item .banner__item__right {
  box-sizing: border-box;
}
.banner .banner__item .banner__item__left a, .banner .banner__item .banner__item__right a {
  color: white;
  text-decoration: none;
  border-radius: 10rem;
  padding: 5px 1.5rem;
}

@media (min-width: 1200px) {
  .banner {
    margin-top: 12rem;
    margin-bottom: 16rem;
  }
  .banner .banner__item {
    display: flex;
  }
  .banner .banner__item .banner__item__left {
    text-align: right;
    padding-right: 1rem;
  }
  .banner .banner__item .banner__item__right {
    text-align: left;
    padding-left: 1rem;
  }
  .banner .banner__item .banner__item__left, .banner .banner__item .banner__item__right {
    width: 50%;
  }
}
@media (max-width: 1200px) {
  .banner .banner__item {
    flex-direction: column;
    align-items: center;
  }
  .banner .banner__item a {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: -moz-fit-content;
    width: fit-content;
  }
  .banner .banner__item__left, .banner .banner__item__right {
    width: 100%;
    text-align: center;
    padding: 0;
    margin-bottom: 1rem;
  }
}
@media (min-width: 700px) and (max-width: 1200px) {
  .banner {
    margin-top: 8rem;
    margin-bottom: 10rem;
  }
}
@media (min-width: 700px) {
  .banner {
    font-size: 3rem;
  }
  .banner .banner__item a {
    margin-right: 1.25rem;
    display: inline-block;
  }
}
@media (max-width: 700px) {
  .banner {
    font-size: 2.5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .banner .banner__item a {
    display: block;
  }
}
.title-gif::after {
  animation-name: title-gif;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes title-gif {
  0% {
    content: "Srdcem";
  }
  24% {
    content: "Srdcem";
  }
  25% {
    content: "Tělem";
  }
  49% {
    content: "Tělem";
  }
  50% {
    content: "Duší";
  }
  74% {
    content: "Duší";
  }
  75% {
    content: "Myslí";
  }
  99% {
    content: "Myslí";
  }
  100% {
    content: "Srdcem";
  }
}
.app-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
}
.app-view .app-view__top {
  flex-grow: 0;
  flex-shrink: 0;
}
.app-view .app-view__content {
  flex-grow: 1;
}
.app-view .app-view__content.crossroads {
  display: grid;
}
.app-view .app-view__content.crossroads .crossroads__option {
  display: grid;
  place-items: center;
  color: white;
  font-size: 3rem;
}
.app-view .app-view__bottom {
  flex-grow: 0;
  flex-shrink: 0;
}

@media (min-width: 950px) {
  .app-view .app-view__content.crossroads {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 950px) {
  .app-view .app-view__content.crossroads {
    grid-template-rows: 1fr 1fr;
  }
}
.story .story__header h2, .story .story__header span {
  display: inline-block;
}
.story .story__header span {
  padding: 2px 10px;
  margin-left: 2rem;
  color: white;
  border-radius: 100px;
  position: relative;
  top: -6px;
}
.story .story__img-container {
  display: flex;
  flex-direction: column;
}
.story .story__img-container img {
  max-width: 100%;
}

.stories-header {
  margin-top: 4rem;
  line-height: 2;
}
.stories-header a {
  white-space: nowrap;
  padding: 2px 10px;
  margin-right: 2rem;
  color: white;
  border-radius: 100px;
}

@media (min-width: 950px) {
  .story .story__header {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
@media (max-width: 950px) {
  .story .story__header {
    grid-column-start: initial;
    grid-column-end: initial;
  }
}
.form {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.form .form__header {
  margin-bottom: 2rem;
}
.form .form__header p {
  font-size: 1.2rem;
}
.form form {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}
.form form .form__input {
  margin-bottom: 1rem;
}
.form form .form__input input:not([type=radio], [type=checkbox], [type=submit]), .form form .form__input textarea {
  width: 100%;
  max-width: 100%;
  border: solid 1px black;
  font-size: 1rem;
  padding: 5px;
  box-sizing: border-box;
}
.form form .form__input textarea {
  min-width: 100%;
}
.form form .form__input input:not([type=radio], [type=checkbox], [type=submit]), .form form .form__input textarea {
  display: block;
}
.form form .form__input label.standalone {
  display: block;
  margin-bottom: 5px;
}
.form form .form__input .checkbox {
  display: inline-block;
  border: solid 1px black;
  margin-right: 0.5rem;
  margin-bottom: 5px;
  padding-left: 5px;
}
.form form .form__input .checkbox label {
  display: inline-block;
  padding: 5px 10px 5px 5px;
}
.form form .form__input input[type=submit] {
  display: block;
  font-size: 1.2rem;
  margin: 4rem auto;
}

@media (min-width: 500px) {
  .form {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .form {
    width: 95%;
  }
}/*# sourceMappingURL=index.css.map */